* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

header {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;

    .nav-bar {
        margin-top: 400px;
        width: 100%;
        height: 80px;
        background: #ebeeee;

        ul {
            justify-content: space-around;
            display: flex;

            .logo {
                width: 400px;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            li {
                list-style: none;
                width: 200px;
                height: 80px;
                border-right: 4px solid #fff;
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                    text-decoration: none;
                    color: #000;
                }

                &:hover {
                    background: #aeaeae;
                }
            }
        }
    }

    .nav-bar-section {
        width: 100%;
        height: 80px;
        background: #ebeeee;

        ul {
            justify-content: space-around;
            display: flex;

            .logo {
                width: 400px;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            li {
                list-style: none;
                width: 200px;
                height: 80px;
                border-right: 4px solid #fff;
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                    text-decoration: none;
                    color: #000;
                }

                &:hover {
                    background: #aeaeae;
                }
            }
        }
    }

    .sub-menu {
        width: 100%;
        height: auto;
        background: #fff;
        padding: 30px 0;

        ul {
            justify-content: space-around;
            display: flex;
            flex-wrap: wrap;

            li {

                height: 90px;
                list-style: none;

                a {
                    background: linear-gradient(to right, #00006f, blue, blue, red, yellow);
                    padding: 10px 20px;
                }
            }
        }
    }


    // MOVIL
    .nav-bar-movil {
        // display: block;
        top: 0;
        position: absolute;
        width: 100%;
        background: #f9f9f9;
        font-size: 22px;
        padding-left: 40px;
        display: none;

        ul {
            align-items: center;
            display: flex;
            height: 80px;

            li {
                list-style: none;
            }
        }
    }

    .menu-movil {
        position: absolute;
        width: 50%;
        height: 100%;
        background: #f9f9f9;
        top: 80px;
        z-index: 999;
        margin-left: -100%;

        .logo {
            width: 200px;
            height: auto;
        }

        li {
            list-style: none;
            width: 100%;
            height: 40px;
            transition: .3s ease-in;
            display: block;
            height: auto;
            align-items: center;
            padding: 10px 0;
            
            &:hover {
                background: #e3e3e3;
                padding-left: 20px;
                transition: .3s ease-in;
                // display: block;
                .segundo-menu{
                    display: block;
                    transition: .3s ease-in!important;

                }
            }

            i {
                margin-left: 60%;

            }
            .segundo-menu{
                display: none;
                transition: .3s ease-in!important;
            }
  

        }
    }
}

main {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;

    #banner {
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
        height: 400px;
        position: absolute;
        top: 0;
        background-color: #000;
        background-image: url(../img/home.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

    }

    .banner-desarrollo {
        width: 100%;
        height: 400px;
        background-image: url(../img/banner-desarrollo.png);
        background-size: contain;
        background-repeat: no-repeat;
    }

    #propuestas {
        .img-left {
            transition: .3s ease-in;
            -webkit-transition: .3s ease-in;
            -o-transition: .3s ease-in;

            &:hover {
                margin-left: -50px;
                transition: .3s ease-in;
                -webkit-transition: .3s ease-in;
                -o-transition: .3s ease-in;
            }
        }
    }


}

#ellas-pueden {
    .texto-card {
        position: absolute;
        background: #00006f;
        padding: 10px;
        height: 200px;
        margin-top: 90%;
    }
}

.footer-redes {
    background: #000;

    ul {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;

        li {
            color: #fff;
            font-size: 30px;
            margin: 0 30px;
        }
    }
}

@media screen and(max-width: 990px) {
    .p-index {
        text-align: center;
    }
}

@media screen and (max-width: 900px) {
    .nav-bar {
        visibility: hidden;
    }

    #banner {
        margin-top: 80px !important;
    }

    .sub-menu {
        display: none;

    }

    header .nav-bar-movil {
        display: block;
    }

    .menu-movil {
        margin-left: 0 !important;
    }
}